layoutを継承

contentブロック
  h1= title
  
  もしbook_listの長さがある場合
    ul
      各bookをbook_listから
        li
          a(href=book.url) #{book.title}
          |  (#{book.author.name})

  それ以外の場合
    p 本がありません。
