extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') ジャンル：
      input#name.form-control(type='text', placeholder='ファンタジー、詩 など' name='name' required value=(undefined===genre ? '' : genre.name) )
    button.btn.btn-primary(type='submit') 送信

  if errors
    ul
      for error in errors
        li!= error.msg